<div class="flex flex-col items-center      w-120 bg-red-300 h-40">
  <div class="flex m-2   ">
    <button (click)="increaseGaugeValue()" class="text-white bg-red-500 hover:bg-red-600 rounded-full p-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <p class="text-white font-bold px-2">{{ gaugeValue }}</p>
    <button (click)="decreaseGaugeValue()" class="text-white bg-red-500 hover:bg-red-600 rounded-full p-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <input [(ngModel)]="gaugeValue" (ngModelChange)="updateGaugeValue()" class="w-64 h-8 rounded-full bg-red-500 text-white px-4" type="range" max="600" min="0" id="range2">

  </div>
  <div class="flex   ">
    <button (click)="increaseGaugeValue2()" class="text-white bg-red-500 hover:bg-red-600 rounded-full p-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <p class="text-white font-bold px-2">{{ gaugeValue2 }}</p>
    <button (click)="decreaseGaugeValue2()" class="text-white bg-red-500 hover:bg-red-600 rounded-full p-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <input [(ngModel)]="gaugeValue2" (ngModelChange)="updateGaugeValue2()" class="w-64 h-8 rounded-full bg-red-500 text-white px-4" type="range" max="600" min="0" id="range2">

  </div>

  <div class="flex">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="downloadImage()">Download</button>

  </div>
</div>
