<div class=" bg-white h-8 flex">
  <img class="h-8 w-32" src="../../assets/images/logo.png" >

   <img class="h-8 w-24 bg-transparent" src="../../assets/images/vinc-nobg1.png" >

</div>

<div class="top-0 right-0 w-120 h-68  flex  ">


  <igx-radial-gauge height="240px" width="240px"
  [value]="gaugeValue"
  interval="50"
  minimumValue="0"
  maximumValue="600"
  font="5px  Verdana "
  labelExtent="0.8"

  fontBrush="#ffffff"
  minorTickBrush = "#fffffff"
  tickBrush = "#ffffff"
  needlePivotBrush="#fffffff"
  needlePivotOutline="#ffffff"
  needleBrush="#ffffff"
  backingBrush="#0284c7"
  backingOutline="#0369a1"


  minorTickCount=4
  minorTickEndExtent=.72
  minorTickStartExtent=.75
  minorTickStrokeThickness=0.6

  tickStartExtent=.67
  tickEndExtent=.74
  tickStrokeThickness=2


  needleStrokeThickness="0.8"
  needleBaseFeatureWidthRatio="0.1"
  needlePivotWidthRatio="0.2"
  needleStartExtent="0"
  needleEndExtent="0.70"
  needleEndWidthRatio="0.01"


backingStrokeThickness="10"
backingCornerRadius="10"
backingOuterExtent=0.9
backingInnerExtent=0.8
backingShape="fitted"
backingOversweep=5

rangeOutlines="#ffffff, #ffffff"
rangeInnerExtent=0.15

isNeedleDraggingEnabled=false
isNeedleDraggingConstrained="false"

 >


  <igx-radial-gauge-range startValue="0"
                          endValue="200"
                          brush="green">
  </igx-radial-gauge-range>
  <igx-radial-gauge-range startValue="200"
                          endValue="400"
                          brush="green">
  </igx-radial-gauge-range>
  <igx-radial-gauge-range startValue="400"
                          endValue="600"
                          brush="red">
  </igx-radial-gauge-range>
  </igx-radial-gauge>



  <igx-radial-gauge height="240px" width="240px"
  [value]="gaugeValue2"
  interval="100"
  minimumValue="0"
  maximumValue="600"
  font="5px  Verdana "
  labelExtent="0.8"

  fontBrush="#ffffff"
  minorTickBrush = "#fffffff"
  tickBrush = "#ffffff"
  needlePivotBrush="#fffffff"
  needlePivotOutline="#ffffff"
  needleBrush="#ffffff"
  backingBrush="#0284c7"
  backingOutline="#0369a1"


  minorTickCount=4
  minorTickEndExtent=.72
  minorTickStartExtent=.75
  minorTickStrokeThickness=0.6

  tickStartExtent=.67
  tickEndExtent=.74
  tickStrokeThickness=2


  needleStrokeThickness="0.8"
  needleBaseFeatureWidthRatio="0.1"
  needlePivotWidthRatio="0.2"
  needleStartExtent="0"
  needleEndExtent="0.70"
  needleEndWidthRatio="0.01"


backingStrokeThickness="10"
backingCornerRadius="10"
backingOuterExtent=0.9
backingInnerExtent=0.8
backingShape="fitted"
backingOversweep=5

rangeOutlines="#ffffff, #ffffff"
rangeInnerExtent=0.15

isNeedleDraggingEnabled=false
isNeedleDraggingConstrained="false"



  >


  <igx-radial-gauge-range startValue="0"
                          endValue="200"
                          brush="green">
  </igx-radial-gauge-range>
  <igx-radial-gauge-range startValue="200"
                          endValue="400"
                          brush="yellow">
  </igx-radial-gauge-range>
  <igx-radial-gauge-range startValue="400"
                          endValue="600"
                          brush="red">
  </igx-radial-gauge-range>
  </igx-radial-gauge>

</div>

